{% extends 'base-client.html.twig' %}

{% block title %}Mes Comptes{% endblock %}

{% block main %}
  <h2 class="text-3xl font-semibold text-gray-800">Mes Comptes</h2>
  <a href="{{ path('create_account') }}"
     class="inline-block bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded-md transition center text-center">
    Créer un compte
  </a>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for account in accounts %}
      <div
          class="bg-white shadow-lg rounded-lg p-6 border-l-4 {{ account.status.value == 'active' ? 'border-green-500' : 'border-red-500' }}">
        <h3 class="text-lg font-bold text-gray-700">Compte {{ account.accountNumber }}</h3>
        <p class="text-gray-500">Type :
          <span class="font-semibold">{{ account.type.value }}
            </span>
        </p>
        <p class="text-gray-500">Solde :
          <span class="font-semibold">{{ account.balance|number_format(2, ',', ' ') }} €
            </span>
        </p>
        <p class="mt-2">
          État :
          <span
              class="px-2 py-1 rounded-md text-white text-sm {{ account.status.value == 'active' ? 'bg-green-500' : 'bg-red-500' }}">
              {{ account.status.value | capitalize }}
            </span>
        </p>
        <a href="{{ path('account', { accountId: account.id }) }}"
           class="mt-4 inline-block bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded-md transition">
          Voir les transactions
        </a>
      </div>
    {% else %}
      <p class="text-gray-600 col-span-full text-center">Aucun compte disponible.</p>
    {% endfor %}
  </div>
{% endblock %}
